*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  color: #fff;
  background: rgb(0, 60, 100);
  background: linear-gradient(270deg, rgb(0, 60, 100), rgb(11, 82, 53));
  font-family: "Roboto Mono", monospace;
  font-size: 2rem;
  height: 100vh;
  user-select: none;
  padding: 1rem;
}

.screen {
  line-height: 1;
  text-align: right;
  padding: 0.3rem 0.5rem;
  background-color: rgba(125, 140, 115);
  height: 6rem;
  border-radius: 5px;
}

#previous-screen-container {
  height: 2.75rem;
}

#previous-screen-operator {
  margin-left: 1ch;
  color: rgb(255, 236, 179);
}

#current-screen {
  height: 2.75rem;
}

.calc-container {
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: min-content;
  border: 2px solid;
  border-radius: 10px;
}

.btn-container {
  margin-top: 0.5em;
  justify-content: center;
  display: grid;
  gap: 0.25em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.btn-container > button {
  font-family: inherit;
  min-height: 1.6em;
  min-width: 1.6em;
  border-radius: 0.8em;
  font-size: 3rem;
}

.btn-container > button:hover {
  background-color: rgb(105, 197, 228);
}

.btn-container > button:active {
  transform: scale(0.95);
  transition: transform 0.15s;
}

/* btn C */
.btn-container > button:first-child {
  width: 3.4em;
  border-radius: 0.8em;
  grid-column: span 2;
}

/* btn = */
.btn-container > button:last-child {
  width: 3.4em;
  border-radius: 0.8em;
  background-color: goldenrod;
  grid-column: span 2;
}

/* operator btn ÷ x - +  */
.btn-container > :nth-child(4n-1) {
  background-color: darkkhaki;
}

.tips {
  text-align: center;
  margin: 1em 0 0 0;
  font-size: 1rem;
}

@media screen and (max-width: 399px) {
  html {
    font-size: 13px;
  }
}

@media screen and (max-width: 359px) {
  html {
    font-size: 12px;
  }
}
